# Параметры API Chitta
CHITTA_API_URL=https://chitta.site/
CHITTA_API_KEY=cht_333

# Настройки Ollama AI
DEFAULT_OLLAMA_MODEL=qwen2.5-coder:3b
DEFAULT_OLLAMA_HOST=http://localhost:11434
DEFAULT_OLLAMA_TIMEOUT=180

# Дефолтные параметры парсинга
DEFAULT_MAX_PARENTS=5
DEFAULT_ENABLE_OLLAMA=True
DEFAULT_REMOTE_TARGET_URLS=False
DEFAULT_OUTPUT_PREFIX=my_shop
DEFAULT_OUTPUT_DIR=output_csv